<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="person">Person</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="login">Logout</a></li>
        </ul>
    </div>
</nav>

<ul>
    <li *ngFor="let person of persons">
        -> {{person.name}} {{person.heartClub.name}}
    </li>
</ul>